@{
    @using Microsoft.Extensions.Configuration
    @inject IConfiguration Configuration

}
<!DOCTYPE html>
<html>
<head>
    <partial name="Fillow/_Meta" />
    <title>@Configuration.GetSection("DefaultValue")["Title"]</title>
    <!-- Favicon icon -->
    <link rel="shortcut icon" type="image/png" href="~/Fillow/images/favicon.png">

    <link href="~/Fillow/vendor/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet">
    <!--**********************************
        Style script start
    ***********************************-->
    @RenderSection("Fillow_style", false)
    <!--**********************************
        Style script end
    ***********************************-->
    <!-- Style css -->
    <link href="~/Fillow/css/style.css" rel="stylesheet">
</head>
<body>
    <partial name="Admin/_PreLoader" />
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">
        <partial name="Admin/_NevHeader" />
        <partial name="Admin/_Chatbox" />
        <partial name="Admin/_Header" />
        <partial name="Admin/_Sidebar" />
        <!--**********************************
            Content body start
        ***********************************-->
        @RenderBody()
        <!--**********************************
            Content body end
        ***********************************-->
        <partial name="Admin/_Footer" />
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->
    @RenderSection("Fillow_script", false)
</body>
</html>
