<!--**********************************
    Footer start
***********************************-->
<div class="footer">
    <div class="copyright">
        <p>Copyright 2025. All Rights Reserved by Gtrip</p>
    </div>
</div>
<!--**********************************
    Footer end
***********************************-->
