<!--**********************************
			Nav header start
		***********************************-->
<div class="nav-header">
	<a href="@Url.Action("Home","Member")" class="brand-logo">
		<img style="width:55px;" src="../../assets/images/logo/logo3.png" alt="logo">

		<div class="brand-title">
			<img style="width:75px;" src="../../assets/images/logo/logo4.png" alt="logo">
		</div>
	</a>
	<div class="nav-control">
		<div class="hamburger">
			<span class="line"></span><span class="line"></span><span class="line"></span>
		</div>
	</div>
</div>
<!--**********************************
	Nav header end
***********************************-->
