@{
    Layout = "~/Views/Shared/_Layout3.cshtml";
	ViewData["Title"] = "我的行程";
}
<div class="content-body default-height">
	<div class="container-fluid">
		<!-- Row -->
		<div class="row">
			<div class="col-xl-12">
				<div class="filter cm-content-box box-primary">
					<div class="content-title SlideToolHeader">
						<div class="cpa">
							<i class="fa-sharp fa-solid fa-filter me-2"></i>搜尋
						</div>
						<div class="tools">
							<a href="javascript:void(0);" class="expand handle"><i class="fal fa-angle-down"></i></a>
						</div>
					</div>
					<div class="cm-content-body form excerpt" style="display: none;">
						<div class="card-body">
							<div class="row">
								<div class="col-xl-3 col-sm-6">
									<label class="form-label">訂單編號</label>
									<input type="text" class="form-control mb-xl-0 mb-3" id="exampleFormControlInput1" placeholder="訂單編號">
								</div>
								<div class="col-xl-3  col-sm-6 mb-3 mb-xl-0">
									<label class="form-label">Status</label>
									<select class="form-control default-select h-auto wide" aria-label="Default select example">
										<option selected>選擇狀態</option>
										<option value="1">待付款</option>
										<option value="2">己付款</option>
										<option value="3">待評價</option>
									</select>
								</div>
								<div class="col-xl-3 col-sm-6">
									<label class="form-label">Date</label>
									<div class="input-hasicon mb-sm-0 mb-3">
										<input name="datepicker" class="form-control bt-datepicker">
										<div class="icon"><i class="far fa-calendar"></i></div>
									</div>
								</div>
								<div class="col-xl-3 col-sm-6 align-self-end">
									<div>
										<button class="btn btn-primary me-2" title="Click here to Search" type="button"><i class="fa fa-filter me-1"></i>Filter</button>
										<button class="btn btn-danger light" title="Click here to remove filter" type="button">Remove Filter</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-xl-12">
					<div class="card">
						<div class="card-header">
						</div>
						<div class="card-body">
							<div class="card-tabs">
								<ul class="nav nav-tabs d-inline-flex mb-4" style="width: 100%;" role="tablist">
									<li class=" nav-item" role="presentation">
										<a href="#navpills2-11" class="nav-link active" data-bs-toggle="tab" aria-expanded="false" aria-selected="false" role="tab" tabindex="-1">全部</a>
									</li>
									<li class="nav-item" role="presentation">
										<a href="#navpills2-21" class="nav-link" data-bs-toggle="tab" aria-expanded="false" aria-selected="false" role="tab" tabindex="-1">待付款</a>
									</li>
									<li class="nav-item" role="presentation">
										<a href="#navpills2-31" class="nav-link" data-bs-toggle="tab" aria-expanded="true" aria-selected="true" role="tab">待出發</a>
									</li>
									<li class="nav-item" role="presentation">
										<a href="#navpills2-41" class="nav-link" data-bs-toggle="tab" aria-expanded="true" aria-selected="true" role="tab">待評價</a>
									</li>
								</ul>
							</div>

							<div class="tab-content">
								<div id="navpills2-11" class="tab-pane active show" role="tabpanel">
									<div class="row">
										<div class="col-md-12">
											<div class="filter cm-content-box box-primary">
												<div class="content-title SlideToolHeader">
													<div class="cpa">
													</div>
													<div class="tools">
														<a href="javascript:void(0);" class="expand handle"><i class="fal fa-angle-down"></i></a>
													</div>
												</div>
												<div class="cm-content-body form excerpt">
													<div class="card-body pb-4">
														<div class="table-responsive">
															<table class="table">
																<thead>
																	<tr>
																		<th style="width:200px;"></th>
																		<th>訂單編號</th>
																		<th>旅程名稱</th>
																		<th>顧客</th>
																		<th>價錢</th>
																		<th>下單日期</th>
																		<th>狀態</th>
																		<th></th>
																	</tr>
																</thead>
																<tbody>
																	<tr>
																		<td>
																			<img src="https://travel-ge.com/wp-content/uploads/2023/11/Chateau-de-Chantilly-450x300.jpeg" alt="Image" style="width: 200px; height: auto;" />
																		</td>
																		<td>13001</td>
																		<td>南京之旅</td>
																		<td>Peter Lee</td>
																		<td>13220HKD</td>
																		<td>13 Jan, 2024</td>
																		<td>己付款</td>
																		<td class="text-nowrap">

																			<a href="javascript:void(0);" style="width:50%" class="btn btn-info btn-sm content-icon">
																				<i class="fa fa-info-circle"></i><span class="hidden-xs">詳細資料</span>
																			</a>
																		</td>
																	</tr>
																</tbody>
															</table>
															<div class="d-flex align-items-center justify-content-between flex-wrap">
																<p class="mb-2 me-3">Page 1 of 5, showing 2 records out of 8 total, starting on record 1, ending on 2</p>
																<nav aria-label="Page navigation example mb-2">
																	<ul class="pagination mb-2 mb-sm-0">
																		<li class="page-item"><a class="page-link" href="javascript:void(0);"><i class="fa-solid fa-angle-left"></i></a></li>
																		<li class="page-item"><a class="page-link" href="javascript:void(0);">1</a></li>
																		<li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
																		<li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
																		<li class="page-item"><a class="page-link " href="javascript:void(0);"><i class="fa-solid fa-angle-right"></i></a></li>
																	</ul>
																</nav>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div id="navpills2-21" class="tab-pane" role="tabpanel">
									<div class="row">
										<div class="col-md-12">
											<div class="filter cm-content-box box-primary">
												<div class="content-title SlideToolHeader">
													<div class="cpa">
													</div>
													<div class="tools">
														<a href="javascript:void(0);" class="expand handle"><i class="fal fa-angle-down"></i></a>
													</div>
												</div>
												<div class="cm-content-body form excerpt">
													<div class="card-body pb-4">
														<div class="table-responsive">
															<table class="table">
																<thead>
																	<tr>
																		<th style="width:200px;"></th>
																		<th>訂單編號</th>
																		<th>旅程名稱</th>
																		<th>顧客</th>
																		<th>價錢</th>
																		<th>下單日期</th>
																		<th>狀態</th>
																		<th></th>
																	</tr>
																</thead>
																<tbody>
																	<tr>
																		<td>
																			<img src="https://travel-ge.com/wp-content/uploads/2023/11/Chateau-de-Chantilly-450x300.jpeg" alt="Image" style="width: 200px; height: auto;" />
																		</td>
																		<td>13001</td>
																		<td>南京之旅</td>
																		<td>Peter Lee</td>
																		<td>13220HKD</td>
																		<td>13 Jan, 2024</td>
																		<td>待付款</td>
																		<td class="text-nowrap">

																			<a href="javascript:void(0);" style="width:50%" class="btn btn-info btn-sm content-icon">
																				<i class="fa fa-info-circle"></i><span class="hidden-xs">詳細資料</span>
																			</a>
																		</td>
																	</tr>
																</tbody>
															</table>
															<div class="d-flex align-items-center justify-content-between flex-wrap">
																<p class="mb-2 me-3">Page 1 of 5, showing 2 records out of 8 total, starting on record 1, ending on 2</p>
																<nav aria-label="Page navigation example mb-2">
																	<ul class="pagination mb-2 mb-sm-0">
																		<li class="page-item"><a class="page-link" href="javascript:void(0);"><i class="fa-solid fa-angle-left"></i></a></li>
																		<li class="page-item"><a class="page-link" href="javascript:void(0);">1</a></li>
																		<li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
																		<li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
																		<li class="page-item"><a class="page-link " href="javascript:void(0);"><i class="fa-solid fa-angle-right"></i></a></li>
																	</ul>
																</nav>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div id="navpills2-31" class="tab-pane" role="tabpanel">
									<div class="row">
										<div class="col-md-12">
											<div class="filter cm-content-box box-primary">
												<div class="content-title SlideToolHeader">
													<div class="cpa">
													</div>
													<div class="tools">
														<a href="javascript:void(0);" class="expand handle"><i class="fal fa-angle-down"></i></a>
													</div>
												</div>
												<div class="cm-content-body form excerpt">
													<div class="card-body pb-4">
														<div class="table-responsive">
															<table class="table">
																<thead>
																	<tr>
																		<th style="width:200px;"></th>
																		<th>訂單編號</th>
																		<th>旅程名稱</th>
																		<th>顧客</th>
																		<th>價錢</th>
																		<th>下單日期</th>
																		<th>狀態</th>
																		<th></th>
																	</tr>
																</thead>
																<tbody>
																	<tr>
																		<td>
																			<img src="https://travel-ge.com/wp-content/uploads/2023/11/Chateau-de-Chantilly-450x300.jpeg" alt="Image" style="width: 200px; height: auto;" />
																		</td>
																		<td>13001</td>
																		<td>南京之旅</td>
																		<td>Peter Lee</td>
																		<td>13220HKD</td>
																		<td>13 Jan, 2024</td>
																		<td>己付款</td>
																		<td class="text-nowrap">

																			<a href="javascript:void(0);" style="width:50%" class="btn btn-info btn-sm content-icon">
																				<i class="fa fa-info-circle"></i><span class="hidden-xs">詳細資料</span>
																			</a>
																		</td>
																	</tr>
																</tbody>
															</table>
															<div class="d-flex align-items-center justify-content-between flex-wrap">
																<p class="mb-2 me-3">Page 1 of 5, showing 2 records out of 8 total, starting on record 1, ending on 2</p>
																<nav aria-label="Page navigation example mb-2">
																	<ul class="pagination mb-2 mb-sm-0">
																		<li class="page-item"><a class="page-link" href="javascript:void(0);"><i class="fa-solid fa-angle-left"></i></a></li>
																		<li class="page-item"><a class="page-link" href="javascript:void(0);">1</a></li>
																		<li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
																		<li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
																		<li class="page-item"><a class="page-link " href="javascript:void(0);"><i class="fa-solid fa-angle-right"></i></a></li>
																	</ul>
																</nav>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div id="navpills2-41" class="tab-pane" role="tabpanel">
									<div class="row">
										<div class="col-md-12">
											<div class="filter cm-content-box box-primary">
												<div class="content-title SlideToolHeader">	
													<div class="cpa">
													</div>
													<div class="tools">
														<a href="javascript:void(0);" class="expand handle"><i class="fal fa-angle-down"></i></a>
													</div>
												</div>
												<div class="cm-content-body form excerpt">
													<div class="card-body pb-4">
														<div class="table-responsive">
															<table class="table">
																<thead>
																	<tr>
																		<th style="width:200px;"></th>
																		<th>訂單編號</th>
																		<th>旅程名稱</th>
																		<th>顧客</th>
																		<th>價錢</th>
																		<th>下單日期</th>
																		<th>狀態</th>
																		<th></th>
																	</tr>
																</thead>
																<tbody>
																	<tr>
																		<td>
																			<img src="https://travel-ge.com/wp-content/uploads/2023/11/Chateau-de-Chantilly-450x300.jpeg" alt="Image" style="width: 200px; height: auto;" />
																		</td>
																		<td>13001</td>
																		<td>南京之旅</td>
																		<td>Peter Lee</td>
																		<td>13220HKD</td>
																		<td>13 Jan, 2024</td>
																		<td>待評價</td>
																		<td class="text-nowrap">

																			<a href="javascript:void(0);" style="width:50%" class="btn btn-info btn-sm content-icon">
																				<i class="fa fa-info-circle"></i><span class="hidden-xs">詳細資料</span>
																			</a>
																		</td>
																	</tr>
																</tbody>
															</table>
															<div class="d-flex align-items-center justify-content-between flex-wrap">
																<p class="mb-2 me-3">Page 1 of 5, showing 2 records out of 8 total, starting on record 1, ending on 2</p>
																<nav aria-label="Page navigation example mb-2">
																	<ul class="pagination mb-2 mb-sm-0">
																		<li class="page-item"><a class="page-link" href="javascript:void(0);"><i class="fa-solid fa-angle-left"></i></a></li>
																		<li class="page-item"><a class="page-link" href="javascript:void(0);">1</a></li>
																		<li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
																		<li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
																		<li class="page-item"><a class="page-link " href="javascript:void(0);"><i class="fa-solid fa-angle-right"></i></a></li>
																	</ul>
																</nav>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				
			</div>
		</div>
	</div>
</div>

@section Fillow_style
    {
	<link href="~/Fillow/vendor/bootstrap-datepicker-master/css/bootstrap-datepicker.min.css" rel="stylesheet">
	<link href="~/Fillow/vendor/lightgallery/css/lightgallery.min.css" rel="stylesheet">
}

@section Fillow_script
    {
	<!-- Required vendors -->
	<script src="~/Fillow/vendor/global/global.min.js"></script>
	<script src="~/Fillow/vendor/bootstrap-datepicker-master/js/bootstrap-datepicker.min.js"></script>
	<script src="~/Fillow/vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
	<script src="~/Fillow/vendor/select2/js/select2.full.min.js"></script>
	<script src="~/Fillow/js/plugins-init/select2-init.js"></script>
	<script src="~/Fillow/js/custom.min.js"></script>
	<script src="~/Fillow/js/dlabnav-init.js"></script>
	<script src="~/Fillow/js/demo.js"></script>
	<script>
		$(document).ready(function () {
			$(".expand.handle").on("click", function () {
				// Find the .cm-content-body within the same .filter container
				var content = $(this).closest('.filter').find('.cm-content-body');

				// Toggle the visibility of the content
				content.slideToggle();

				// Toggle the icon (fa-angle-down and fa-angle-up)
				$(this).find('i').toggleClass('fa-angle-down fa-angle-up');
			});
		});
	</script>
}
