@{
	ViewData["Title"] = "Gtrippro";
	Layout = "~/Views/Shared/_Layout2.cshtml";
}


<body>
	<!-- preloader start here -->
	<div class="preloader">
		<div class="preloader-inner">
			<div class="preloader-icon">
				<span></span>
				<span></span>
			</div>
		</div>
	</div>
	<!-- preloader ending here -->
	<!-- scrollToTop start here -->
	<a href="#" class="scrollToTop"><i class="fa-solid fa-angle-up"></i></a>
	<!-- scrollToTop ending here -->
	<!-- ================> Banner section start here <================== -->
	<div class="pageheader bg__img" style="background-image: url(assets/images/bg-img/04.jpg);">
		<div class="container">
			<div class="pageheader__content text-center">
				<h2>About US</h2>
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb justify-content-center">
						<li class="breadcrumb-item active" aria-current="page">關於集遊</li>
					</ol>
				</nav>
			</div>
		</div>
	</div>
	<!-- ================> Banner section end here <================== -->
	<!-- ================> About section start here <================== -->
	<div class="about padding--top padding--bottom position-relative">
		<div class="travel__shape">Travel</div>
		<div class="shape">
			<div class="shape__one">
				<img src="assets/images/shape-img/01.png" alt="travel thumb">
			</div>
		</div>
		<div class="container">
			<div class="row g-4">
				<div class="col-lg-6">
					<div class="about__thumb">
						<img src="assets/images/banner/gtrippro_banner8.jpg" alt="travel thumb">
					</div>

					<div class="about__content" style="margin-top:100px;">
						<div class="section__header">
							<h2>我們的使命</h2>
						</div>
						<div class="section__wrapper">
							<div class="elementor-widget-container">
								<p><span style="font-weight: 400;">我們堅信夢想是每個人心中最美麗的希望。而其中最迷人的夢想之一就是環遊世界。無論是心怀年輕的人還是年事已高的人，每個人都曾擁有過這樣的夢想！環遊世界就像一個豐富多彩的冒險故事，等待著我們揭開每個角落的神秘面紗。我們的使命是幫助您實現這個目標，並為您提供最好的協助，讓您充分享受旅程。</span></p><p>&nbsp;</p><p><span style="font-weight: 400;">在集遊的本地導遊的幫助下，您可以輕鬆了解當地語言、風俗和傳統，這些常常讓您在陌生的土地上感到迷茫。我們提供熱門的可立即預訂的旅行行程，一生難得的經歷，寶貴的旅行建議，以及自由定制您自己的行程的自由，確保一切都符合您的願望！</span></p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="about__content">
						<div class="section__header">
							<span>關於集遊</span>
							<h2>我們的故事</h2>
						</div>
						<div class="section__wrapper">
							<div class="elementor-widget-container">
							<p><span style="font-weight: 400;">冒險、探索和對旅行的熱情 – 這些是我們創立旅行平台的原因。</span></p><p><span style="font-weight: 400;">在我們的創辦人年輕的時候，他們總是充滿對未知世界的好奇。我們渴望探索不同的文化，品味國際美食，欣賞壯麗的風景。然而，我們發現計劃一個完美的旅行並不容易。從尋找最佳的航班和酒店到安排行程和解決當地問題，這些繁瑣的任務常常讓人感到困惑和沮喪。漸漸地，我們意識到我們不僅可以自己遨遊世界，還可以幫助他人實現他們的夢想。</span></p><p><span style="font-weight: 400;">因此，我們決定建立這個平台，提供多樣化而獨特的旅行體驗，以簡化對這個未知世界的理解。我們相信每個人都應該有機會體驗地球的美麗，不論他們的時間、預算或旅行經驗如何。我們希望打破旅行的障礙，讓旅行者專注於享受旅程本身，而不被琐碎的安排所困擾。</span></p><p><span style="font-weight: 400;">我們堅信旅行可以改變人們的生活。它擴大了我們的視野，豐富了我們的心靈，使世界更加緊密。每一次旅行都是一次難忘的冒險，讓我們了解不同的文化，體驗新事物，創造難以忘懷的回憶。</span></p><p><span style="font-weight: 400;">因此，我們希望這個平台能成為實現夢想的橋樑，將世界的美麗和奇觀帶給每個人。我們渴望激勵更多的人踏上旅程，探索世界的神秘，實現他們的夢想。</span></p><p><span style="font-weight: 400;">無論是年輕的背包客、忙碌的專業人士還是渴望體驗生活的退休者，我們的旅行平台將為他們提供一種簡單、便捷和可靠的旅行方式。</span></p>
							</div>
							<ul>
								<li><i class="fa-regular fa-square-check"></i>We providing compe quality for packed with elated different.</li>
								<li><i class="fa-regular fa-square-check"></i>We are one of compelling quality for packed with leading.</li>
								<li><i class="fa-regular fa-square-check"></i>Learn how compelling quality for packed with  elated grow.</li>
							</ul>
							<ul class="about__project">
								<li>
									<h2><span class="about__project--count counter" data-to="100" data-speed="1500"></span>+</h2>
									<p>旅遊目的地</p>
								</li>
								<li>
									<h2><span class="about__project--count counter" data-to="2000" data-speed="1500"></span>+</h2>
									<p>會員</p>
								</li>
								<li>
									<h2><span class="about__project--count counter" data-to="300" data-speed="1500"></span>+</h2>
									<p>合作夥伴</p>
								</li>
								<li>
									<h2><span class="about__project--count counter" data-to="40" data-speed="1500"></span>K+</h2>
									<p>已完成旅遊</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- ================> About section end here <================== -->
	<!-- ================> Feature section start here <================== -->
	<div class="feature padding--top padding--bottom position-relative bg-ash">
		<div class="travel__shape travel__shape--reverse">Travel</div>
		<div class="container z-index-1">
			<div class="section__header text-center">
				<span>Featured tours</span>
				<h2>Beautiful Places Arround the World</h2>
			</div>
			<div class="section__wrapper">
				<div class="row g-4 row-cols-xl-3 row-cols-sm-2 row-cols-1">
					<div class="col">
						<div class="feature__item">
							<div class="feature__inner">
								<div class="feature__thumb">
									<img src="assets/images/feature/01.jpg" alt="Travel Thumb">
								</div>
								<div class="feature__pakedge">3 Packages</div>
								<div class="feature__content">
									<h2>Paris</h2>
									<p>Starting From $1200</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="row g-4">
							<div class="col-12">
								<div class="feature__item">
									<div class="feature__inner">
										<div class="feature__thumb">
											<img src="assets/images/feature/02.jpg" alt="Travel Thumb">
										</div>
										<div class="feature__pakedge feature__pakedge--reverse">8 Packages</div>
										<div class="feature__content">
											<h2>Brazil</h2>
											<p>Starting From $1900</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-12">
								<div class="feature__item">
									<div class="feature__inner">
										<div class="feature__thumb">
											<img src="assets/images/feature/03.jpg" alt="Travel Thumb">
										</div>
										<div class="feature__pakedge feature__pakedge--reverse">3 Packages</div>
										<div class="feature__content">
											<h2>Japan</h2>
											<p>Starting From $1500</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="feature__item">
							<div class="feature__inner">
								<div class="feature__thumb">
									<img src="assets/images/feature/04.jpg" alt="Travel Thumb">
								</div>
								<div class="feature__pakedge feature__pakedge--reverse">3 Packages</div>
								<div class="feature__content">
									<h2>London</h2>
									<p>Starting From $1600</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- ================> Feature section end here <================== -->
	<!-- ================> News Letter section start here <================== -->
	<div class="newsletter padding--top padding--bottom bg__img" style="background: url(assets/images/bg-img/02.jpg)">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-8 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".5s">
					<div class="section__header text-center">
						<h2>追蹤旅程</h2>
					</div>
					<div class="newsletter__form">
						<form action="#">
							<input type="text" placeholder="輸入你的電子郵件">
							<button type="submit" class="default__btn">訂閱我們</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- ================> News Letter section end here <================== -->
	<!-- All Needed JS -->
	<script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
	<script src="assets/js/vendor/datepiker.js"></script>
	<script src="assets/js/vendor/modernizr-3.11.2.min.js"></script>
	<script src="assets/js/isotope.pkgd.min.js"></script>
	<script src="assets/js/swiper.min.js"></script>
	<script src="assets/js/wow.js"></script>
	<script src="assets/js/lightcase.js"></script>
	<script src="assets/js/jquery.countdown.min.js"></script>
	<script src="assets/js/counterup.js"></script>
	<script src="assets/js/waypoints.min.js"></script>
	<script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
	<script src="assets/js/plugins.js"></script>
	<script src="assets/js/main.js"></script>


	<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
	<script>
		window.ga = function () {
			ga.q.push(arguments)
		};
		ga.q = [];
		ga.l = +new Date;
		ga('create', 'UA-XXXXX-Y', 'auto');
		ga('set', 'anonymizeIp', true);
		ga('set', 'transport', 'beacon');
		ga('send', 'pageview')
	</script>
	<script src="https://www.google-analytics.com/analytics.js" async></script>
</body>