@{
    Layout = "~/Views/Shared/_LayoutFillow.cshtml";
    ViewData["Title"] = "jqvmap";
}
<div class="content-body default-height">
    <div class="container-fluid">

        <div class="row page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Map</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">jqvmap</a></li>
            </ol>
        </div>
        <!-- row -->
        <!-- Vectormap -->
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">World Map</h4>
                    </div>
                    <div class="card-body">
                        <div id="world-map"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">USA</h4>
                    </div>
                    <div class="card-body">
                        <div id="usa" style="height: 450px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Fillow_style
    {
    <!-- Vectormap -->
    <link href="~/Fillow/vendor/jqvmap/css/jqvmap.min.css" rel="stylesheet">
}

@section Fillow_script
    {
    <!-- Required vendors -->
    <script src="~/Fillow/vendor/global/global.min.js"></script>
    <!-- Vectormap -->
    <script src="~/Fillow/vendor/jqvmap/js/jquery.vmap.min.js"></script>
    <script src="~/Fillow/vendor/jqvmap/js/jquery.vmap.world.js"></script>
    <script src="~/Fillow/vendor/jqvmap/js/jquery.vmap.usa.js"></script>
    <script src="~/Fillow/vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
    <!-- All init script -->
    <script src="~/Fillow/js/plugins-init/jqvmap-init.js"></script>
    <script src="~/Fillow/js/custom.min.js"></script>
    <script src="~/Fillow/js/dlabnav-init.js"></script>
    <script src="~/Fillow/js/demo.js"></script>
    
}