<!-- ================> header section start here <================== -->
<header class="header header__transparent header--style2">
    <div class="container">
        <div class="header__menupart">
            <div class="header__bottom d-flex flex-wrap justify-content-between align-items-center">
                <div class="brand-logo d-none d-lg-inline-block">
                    <div class="logo">
                        <a href="/Home/index"><img src="assets/images/logo/logo2.png" alt="logo"></a>
                        <a href="/Home/index"><img src="assets/images/logo/logo.png" alt="logo"></a>
                    </div>
                </div>
                <div class="header__wrapper justify-content-lg-end">
                    <div class="mobile-logo logo d-lg-none">
                        <a href="/Home/index"><img src="assets/images/logo/logo2.png" alt="logo"></a>
                        <a href="/Home/index"><img src="assets/images/logo/logo.png" alt="logo"></a>
                    </div>
                    <div class="menu-area">
                        <ul class="menu">
                            <li><a href="/Home/index">主頁</a></li>
                            <li><a href="/Home/AboutUs">關於集遊</a></li>
                            <li><a href="/Home/BecomeOurPartner">成為集遊合作夥伴</a></li>
                            <li><a href="/Home/HotTrip">熱門旅遊團</a></li>
                            <li><a href="/Home/ContactUs">聯絡我們</a></li>
                        </ul>
                        <a id="LoginBtn" class="default__btn reverse"><span>登入 / 注冊</span></a>
                        <div class="header__bar header__bar--style2 d-lg-none">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- ================> header section end here <================== -->
